//
// Defaults
// --------------------------------------------------

::selection {
  background: rgba($selection-bg, .7);
  color: $selection-color;
}

body {
  color: $black;
  background-color: $white;
  font: {
    family: $font-family-base;
    size: $font-size-base;
    weight: $regular;
  }
  line-height: $font-line-height-base;
}

.layout {
  min-height: 100%;
  margin-bottom: -$footer-height;

  &:after {
    content: '';
    display: block;
    min-height: $footer-height;
  }
}

.layout,
.footer {
  max-width: 100%;
  min-width: $site-width;

  @media (max-width: 1390px) {
    min-width: 1284px;
  }

  @media (max-width: 1304px) {
    min-width: 1252px;
  }

  @media (max-width: 1276px) {
    min-width: 1066px;
  }

  @media (max-width: 1090px) {
    min-width: 846px;
  }

  @media (max-width: 876px) {
    min-width: 632px;
  }

  @media (max-width: 662px) {
    min-width: 350px;
  }
}

.footer {
  min-height: $footer-height;
}

.inner {
  position: relative;
  display: flex;
  flex-direction: column;
  width: $site-width;
  min-height: 100%;
  margin: 0 auto;
  padding: 0 $site-gutter;

  &_align-items-center {
    align-items: center;
  }

  @media (max-width: 1390px) {
    width: 1284px;
  }

  @media (max-width: 1304px) {
    width: 1252px;
  }

  @media (max-width: 1276px) {
    width: 1066px;
  }

  @media (max-width: 1090px) {
    width: 846px;
  }

  @media (max-width: 876px) {
    width: 632px;
  }

  @media (max-width: 662px) {
    width: 350px;
  }
}
