//
// Colors for develop
// --------------------------------------------------

$dev-aqua: #7fdbff;
$dev-blue: #0074d9;
$dev-navy: #001f3f;
$dev-teal: #39cccc;
$dev-green: #2ecc40;
$dev-olive: #3d9970;
$dev-lime: #01ff70;

$dev-yellow: #ffdc00;
$dev-orange: #ff851b;
$dev-red: #ff4136;
$dev-fuchsia: #f012be;
$dev-purple: #b10dc9;
$dev-maroon: #85144b;

$dev-white: #ffffff;
$dev-silver: #dddddd;
$dev-gray: #aaaaaa;
$dev-black: #111111;



//
// Variables
// --------------------------------------------------


//== Paths

// Images
$path-img: '../img/';


//== Fonts

// Family
$font-family-base: 'Segoe UI', sans-serif;

// Size
$font-size-base: 16px;

// Line-height
$font-line-height-base: 1;

// Weight
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;


//== Site sizes
$site-width: 1430px;
$footer-height: 520px;
$site-gutter: 15px;


//== Colors
$white: #ffffff;
$black: #000000;
$brand-blue: #0064aa;
$brand-green: #8bc02e;

// Colors `selection`
$selection-bg: $brand-green;
$selection-color: $white;
