.footer {
  background: url('#{$path-img}footer-background.png') 50% 25px no-repeat;

  @media (max-width: 876px) {
    background: none;
  }
}

.footer-registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 635px;
  margin-bottom: 145px;

  &__title {
    margin-bottom: 25px;
    font-size: 36px;
    font-weight: $light;
    line-height: 1.2;
    text-align: center;
  }

  @media (max-width: 662px) {
    width: 100%;
  }
}

.footer-menu {
  width: 1220px;
  margin-bottom: 50px;

  .nav-menu__list {
    @media (max-width: 1090px) {
      flex-wrap: wrap;
      justify-content: center;
      margin-right: 10px;
    }

    @media (max-width: 662px) {
      margin-right: 0;
    }
  }

  .nav-menu__item {
    @media (max-width: 1090px) {
      margin-bottom: 10px;

      &:not(:last-of-type) {
        margin-right: 20px;
      }
    }

    @media (max-width: 662px) {
      &:not(:last-of-type) {
        margin-right: 0;
      }
    }
  }

  .nav-menu__link {
    @media (max-width: 1090px) {
      font-size: 20px;
    }
  }

  @media (max-width: 1276px) {
    width: 100%;
  }
}

.footer-brands {
  display: flex;
  justify-content: space-between;
  width: 1050px;
  padding-bottom: 15px;

  @media (max-width: 1090px) {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  &__img {
    width: 178px;

    @media (max-width: 1090px) {
      margin-bottom: 10px;

      &:not(:last-of-type) {
        margin-right: 10px;
      }
    }

    @media (max-width: 662px) {
      &:not(:last-of-type) {
        margin-right: 0;
      }
    }
  }
}