.guide-content {
  margin-bottom: 430px;
  background: url('#{$path-img}background.png') 50% 320px no-repeat;

  &__caption {
    margin-bottom: 85px;
    font-size: 122px;
    font-weight: $light;

    @media (max-width: 1090px) {
      font-size: 92px;
    }

    @media (max-width: 662px) {
      font-size: 52px;
    }
  }

  @media (max-width: 1390px) {
    background: none;
  }

  @media (max-width: 876px) {
    margin-bottom: 200px;
  }
}

.guide-city-selector {
  position: relative;
  margin-bottom: 60px;
  font-size: 36px;
  font-weight: $light;

  &__dropdown-link {
    display: inline-block;
    color: $brand-blue;
    transition: color ease-in-out .3s;

    &:hover {
      color: $black;
      transition: color ease-in-out .1s;
    }
  }

  &__dropdown-block {
    position: absolute;
    display: none;
    width: 1040px;
    min-height: 422px;
    margin-top: 60px;
    padding: 40px 50px 45px;
    background-color: $white;
    border: 1px solid $black;
    border-radius: 3px;
    z-index: 3;

    &:before,
    &:after {
      content: '';
      position: absolute;
      display: block;
      top: -53px;
      left: 177px;
      border-width: 19px;
      border-style: solid;
      border-color: transparent;
      border-bottom-color: $black;
      border-bottom-width: 33px;
    }

    &:after {
      border-bottom-color: $white;
      top: -51px;
    }

    &_show {
      display: flex;
    }

    @media (max-width: 1276px) {
      width: 1021px;
    }

    @media (max-width: 1090px) {
      width: 801px;
    }

    @media (max-width: 876px) {
      width: 602px;
      min-height: 380px;
    }

    @media (max-width: 662px) {
      width: 320px;
    }
  }
}

.guide-city-selector-menu {
  display: flex;
  justify-content: space-between;
  width: 100%;

  &__list {
    display: flex;
    flex-direction: column;
    color: $brand-blue;
    font-size: 24px;
    font-weight: $regular;

    @media (max-width: 876px) {
      font-size: 16px;
    }

    @media (max-width: 662px) {
      font-size: 20px;

      &:not(:last-of-type) {
        margin-bottom: 18px;
      }
    }
  }

  &__item {
    &:not(:last-of-type) {
      margin-bottom: 18px;
    }
  }

  &__link {
    display: inline-block;
    transition: color ease-in-out .3s;

    &:hover {
      color: $black;
      transition: color ease-in-out .1s;
    }
  }

  @media (max-width: 662px) {
    flex-direction: column;
    align-items: center;
  }
}

.guide-places {
  display: flex;
  justify-content: space-between;

  &__list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 1040px;

    @media (max-width: 1390px) {
      margin-right: 15px;
    }

    @media (max-width: 1276px) {
      width: 100%;
      margin-right: 0;
    }
  }

  &__overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($black, .3);
  }

  &__item {
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 327px;
    height: 327px;
    margin-bottom: 30px;
    border-radius: 3px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;

    &:hover {
      .guide-places__bottom {
        &:after {
          transform: translateY(0);
          transition: transform ease-in-out .1s;
        }
      }
    }

    &:not(:last-of-type) {
      margin-right: 19px;

      @media (max-width: 1390px) {
        margin-right: 7px;
      }

      @media (max-width: 1390px) {
        margin-right: 6px;
      }
    }

    &_margin-bottom {
      margin-bottom: 800px;

      @media (max-width: 1390px) {
        margin-bottom: 800px !important;
      }
    }

    @media (max-width: 1390px) {
      width: 297px;
      height: 297px;
      margin-bottom: 10px;
    }

    @media (max-width: 1304px) {
      width: 287px;
      height: 287px;
    }

    @media (max-width: 1276px) {
      width: 327px;
      height: 327px;
      margin-bottom: 30px;
    }

    @media (max-width: 1090px) {
      width: 260px;
      height: 260px;
      margin-bottom: 15px;
    }

    @media (max-width: 876px) {
      width: 295px;
      height: 295px;
    }

    @media (max-width: 662px) {
      width: 320px;
      height: 320px;
    }
  }

  &__bottom {
    position: relative;
    padding: 25px;
    color: $white;
    line-height: 1.3;
    overflow: hidden;

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: $brand-green;
      z-index: 1;
      transform-origin: bottom;
      transform: translateY(100%);
      transition: transform ease-in-out .3s;
    }
  }

  &__title {
    position: relative;
    margin-bottom: 10px;
    font-size: 24px;
    z-index: 2;
  }

  &__city {
    position: relative;
    font-size: 18px;
    z-index: 2;
  }

  @media (max-width: 1276px) {
    flex-direction: column-reverse;
  }
}

.guide-places-card {
  position: absolute;
  display: none;
  width: 1400px;
  height: 685px;
  left: 0;
  overflow: hidden;

  @media (max-width: 1390px) {
    width: 1250px;
    height: auto;
  }

  @media (max-width: 1304px) {
    width: 1220px;
  }

  @media (max-width: 1090px) {
    width: 100%;
  }

  @media (max-width: 662px) {
    flex-direction: column;
  }

  &__close {
    position: absolute;
    width: 12px;
    height: 12px;
    right: 0;
    background: url('#{$path-img}guide-places-card-close.png') 0 0 no-repeat;
    cursor: pointer;
  }

  &__img {
    flex-shrink: 0;
    width: 685px;
    height: 685px;

    @media (max-width: 1390px) {
      width: 604px;
      height: auto;
    }

    @media (max-width: 1304px) {
      width: 583px;
    }

    @media (max-width: 1090px) {
      width: 230px;
    }

    @media (max-width: 662px) {
      width: 290px;
    }
  }

  &__info {
    flex-grow: 0;
    padding: 110px 90px;

    @media (max-width: 662px) {
      padding: 50px 0 0 0;
    }
  }

  &__title {
    margin-bottom: 45px;
    font-size: 54px;
    font-weight: $light;

    @media (max-width: 662px) {
      font-size: 34px;
    }
  }

  &__desc {
    margin-bottom: 45px;
    font-size: 24px;
    line-height: 1.2;

    @media (max-width: 662px) {
      font-size: 16px;
    }
  }

  &__link,
  &__address,
  &__name {
    position: relative;
    padding: 0 40px;
    font-size: 24px;

    &:before {
      content: '';
      position: absolute;
      display: block;
      width: 32px;
      height: 32px;
      left: 0;
      background-repeat: no-repeat;
      background-position: 50% -3px;
    }

    @media (max-width: 662px) {
      font-size: 16px;

      &:before {
        background-position: 85% 1px;
        background-size: 50%;
      }
    }
  }

  &__link {
    display: inline-block;
    margin-bottom: 20px;
    color: $brand-blue;

    &:before {
      background-image: url('#{$path-img}guide-places-card-link-ico.png');
    }
  }

  &__address {
    margin-bottom: 20px;
    color: $brand-blue;

    &:before {
      background-image: url('#{$path-img}guide-places-card-address-ico.png');
    }
  }

  &__name {
    &:before {
      background-image: url('#{$path-img}guide-places-card-name-ico.png');
    }
  }

  &_show {
    display: flex;
  }
}

.guide-places-add-new-place {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 327px;
  height: 327px;
  padding: 20px 30px 30px;
  background-color: #eeeeee;
  border-radius: 3px;

  &__img {
    margin-bottom: 12px;
  }

  &__title {
    width: 200px;
    margin-bottom: 22px;
    font-size: 36px;
    font-weight: $light;
    line-height: 1.2;
  }

  @media (max-width: 1276px) {
    margin-bottom: 30px;
  }
}