.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 55px;
  margin-bottom: 53px;

  @media (max-width: 1276px) {
    flex-direction: column;
  }
}

.header-desc {
  &__caption {
    margin-bottom: 10px;
    font-size: 44px;
    font-weight: $regular;

    @media (max-width: 662px) {
      font-size: 24px;
    }
  }

  &__legend {
    font-size: 20px;

    @media (max-width: 662px) {
      font-size: 16px;
    }
  }

  @media (max-width: 1276px) {
    margin-bottom: 40px;
  }
}

.header-navigation {
  display: flex;
  align-items: flex-start;

  @media (max-width: 662px) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.header-menu {
  display: flex;
  min-width: 300px;
  margin: 18px 55px 0 0;

  .nav-menu__list {
    @media (max-width: 662px) {
      justify-content: space-around;
    }
  }

  @media (max-width: 662px) {
    margin: 0 0 20px 0;
  }
}

.header-social {
  display: flex;
  margin-top: 5px;

  &__link {
    display: inline-block;

    &:not(:last-of-type) {
      margin-right: 30px;
    }
  }
}