.button {
  position: relative;
  display: inline-block;
  padding: 20px 40px;
  color: $white;
  background-color: $brand-green;
  font-size: 24px;
  border: 2px solid darken($brand-green, 20%);
  border-radius: 4px;
  box-shadow: inset 0px 5px 0 lighten(saturate($brand-green, 18%), 15%);
}