.nav-menu {
  width: 100%;

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__link {
    display: inline-block;
    color: $brand-blue;
    font-size: 24px;
    transition: color ease-in-out .3s;

    &:hover {
      color: $black;
      transition: color ease-in-out .1s;
    }
  }
}