ul.guide-city-selector-menu__list
  li.guide-city-selector-menu__item
    a(href='#!').guide-city-selector-menu__link Минск
  li.guide-city-selector-menu__item
    a(href='#!').guide-city-selector-menu__link Нижний Новгород
  li.guide-city-selector-menu__item
    a(href='#!').guide-city-selector-menu__link Новосибирск
  li.guide-city-selector-menu__item
    a(href='#!').guide-city-selector-menu__link Пермь
  li.guide-city-selector-menu__item
    a(href='#!').guide-city-selector-menu__link Ростов-на-Дону
  li.guide-city-selector-menu__item
    a(href='#!').guide-city-selector-menu__link Санкт-Петербург
  li.guide-city-selector-menu__item
    a(href='#!').guide-city-selector-menu__link Самара
  li.guide-city-selector-menu__item
    a(href='#!').guide-city-selector-menu__link Казань
  li.guide-city-selector-menu__item
    a(href='#!').guide-city-selector-menu__link Таганрог

ul.guide-city-selector-menu__list
  li.guide-city-selector-menu__item
    a(href='#!').guide-city-selector-menu__link Минск
  li.guide-city-selector-menu__item
    a(href='#!').guide-city-selector-menu__link Нижний Новгород
  li.guide-city-selector-menu__item
    a(href='#!').guide-city-selector-menu__link Новосибирск
  li.guide-city-selector-menu__item
    a(href='#!').guide-city-selector-menu__link Пермь
  li.guide-city-selector-menu__item
    a(href='#!').guide-city-selector-menu__link Ростов-на-Дону
  li.guide-city-selector-menu__item
    a(href='#!').guide-city-selector-menu__link Санкт-Петербург
  li.guide-city-selector-menu__item
    a(href='#!').guide-city-selector-menu__link Самара
  li.guide-city-selector-menu__item
    a(href='#!').guide-city-selector-menu__link Казань
  li.guide-city-selector-menu__item
    a(href='#!').guide-city-selector-menu__link Таганрог

ul.guide-city-selector-menu__list
  li.guide-city-selector-menu__item
    a(href='#!').guide-city-selector-menu__link Минск
  li.guide-city-selector-menu__item
    a(href='#!').guide-city-selector-menu__link Нижний Новгород
  li.guide-city-selector-menu__item
    a(href='#!').guide-city-selector-menu__link Новосибирск
  li.guide-city-selector-menu__item
    a(href='#!').guide-city-selector-menu__link Пермь
  li.guide-city-selector-menu__item
    a(href='#!').guide-city-selector-menu__link Ростов-на-Дону