footer.footer
  .inner.inner_align-items-center
    .footer-registration
      .footer-registration__title Спешите зарегистрироваться<br> на мероприятие в своем городе!
      a(href='#!').footer-registration__btn.button Зарегистрируйся
    .footer-menu
      nav.nav-menu
        ul.nav-menu__list
          li.nav-menu__item
            a(href='#!').nav-menu__link Контактная информация
          li.nav-menu__item
            a(href='#!').nav-menu__link Конфиденциальность
          li.nav-menu__item
            a(href='#!').nav-menu__link Условия использования
          li.nav-menu__item
            a(href='#!').nav-menu__link Товарные знаки
    .footer-brands
      img(src='../img/footer-brands-win8.png' alt='Windows 8').footer-brands__img
      img(src='../img/footer-brands-ms-vs.png' alt='Microsoft Visual Studio 2013').footer-brands__img
      img(src='../img/footer-brands-ms-azure.png' alt='Microsoft Azure').footer-brands__img
      img(src='../img/footer-brands-win-phone.png' alt='Windows Phone').footer-brands__img
      img(src='../img/footer-brands-ms.png' alt='Microsoft').footer-brands__img