.inner
  header.header
    .header-desc
      h1.header-desc__caption Microsoft Developer Tour
      .header-desc__legend Технологическая экспедиция
    .header-navigation
      .header-menu
        nav.nav-menu
          ul.nav-menu__list
            li.nav-menu__item
              a(href='#!').nav-menu__link Об экспедиции
            li.nav-menu__item
              a(href='#!').nav-menu__link Новости
      .header-social
        a(href='#!' target='_blank' rel='noopener').header-social__link
          img(src='../img/header-social-fb.png' alt='Facebook').header-social__img
        a(href='#!' target='_blank' rel='noopener').header-social__link
          img(src='../img/header-social-tw.png' alt='Twitter').header-social__img
        a(href='#!' target='_blank' rel='noopener').header-social__link
          img(src='../img/header-social-vk.png' alt='VK').header-social__img
