extends layout.pug

block content

  .guide-content
    .inner
      h3.guide-content__caption Путеводитель
      .guide-city-selector Выберите&nbsp;
        a(href='#!').guide-city-selector__dropdown-link город
        .guide-city-selector__dropdown-block
          nav.guide-city-selector-menu
            include modules/guide-city-selector-menu-lists

      .guide-places
        .guide-places__list

          .guide-places__item(style='background-image: url(../img/city.jpg)' data-guide-places-item='1')
            .guide-places__overlay
            .guide-places__bottom
              .guide-places__title Клуб Полезного Действия
              .guide-places__city Санкт-Петербург
          .guide-places-card(data-guide-places-card='1')
            .guide-places-card__close
            .guide-places-card__img
              img(src='../img/city-card.jpg' alt='city')
            .guide-places-card__info
              .guide-places-card__title Антикафе Freedom for people
              .guide-places-card__desc Антикафе Freedom for people - это свобода для умов, свобода для творчества и креатива
              a(href='#!').guide-places-card__link https://www.facebook.com/fdfp.spb
              .guide-places-card__address Санкт-Петербург, Васильевский остров, Невский проспект, дом.88, корпус 20, офис 17
              .guide-places-card__name Никита Джигурда

          .guide-places__item(style='background-image: url(../img/city.jpg)' data-guide-places-item='2')
            .guide-places__overlay
            .guide-places__bottom
              .guide-places__title Клуб Полезного Действия
              .guide-places__city Санкт-Петербург
          .guide-places-card(data-guide-places-card='2')
            .guide-places-card__close
            .guide-places-card__img
              img(src='../img/city-card.jpg' alt='city')
            .guide-places-card__info
              .guide-places-card__title Антикафе Freedom for people
              .guide-places-card__desc Антикафе Freedom for people - это свобода для умов, свобода для творчества и креатива
              a(href='#!').guide-places-card__link https://www.facebook.com/fdfp.spb
              .guide-places-card__address Санкт-Петербург, Васильевский остров, Невский проспект, дом.88, корпус 20, офис 17
              .guide-places-card__name Никита Джигурда

          .guide-places__item(style='background-image: url(../img/city.jpg)' data-guide-places-item='3')
            .guide-places__overlay
            .guide-places__bottom
              .guide-places__title Клуб Полезного Действия
              .guide-places__city Санкт-Петербург
          .guide-places-card(data-guide-places-card='3')
            .guide-places-card__close
            .guide-places-card__img
              img(src='../img/city-card.jpg' alt='city')
            .guide-places-card__info
              .guide-places-card__title Антикафе Freedom for people
              .guide-places-card__desc Антикафе Freedom for people - это свобода для умов, свобода для творчества и креатива
              a(href='#!').guide-places-card__link https://www.facebook.com/fdfp.spb
              .guide-places-card__address Санкт-Петербург, Васильевский остров, Невский проспект, дом.88, корпус 20, офис 17
              .guide-places-card__name Никита Джигурда

          .guide-places__item(style='background-image: url(../img/city.jpg)' data-guide-places-item='4')
            .guide-places__overlay
            .guide-places__bottom
              .guide-places__title Клуб Полезного Действия
              .guide-places__city Санкт-Петербург
          .guide-places-card(data-guide-places-card='4')
            .guide-places-card__close
            .guide-places-card__img
              img(src='../img/city-card.jpg' alt='city')
            .guide-places-card__info
              .guide-places-card__title Антикафе Freedom for people
              .guide-places-card__desc Антикафе Freedom for people - это свобода для умов, свобода для творчества и креатива
              a(href='#!').guide-places-card__link https://www.facebook.com/fdfp.spb
              .guide-places-card__address Санкт-Петербург, Васильевский остров, Невский проспект, дом.88, корпус 20, офис 17
              .guide-places-card__name Никита Джигурда

          .guide-places__item(style='background-image: url(../img/city.jpg)' data-guide-places-item='5')
            .guide-places__overlay
            .guide-places__bottom
              .guide-places__title Клуб Полезного Действия
              .guide-places__city Санкт-Петербург
          .guide-places-card(data-guide-places-card='5')
            .guide-places-card__close
            .guide-places-card__img
              img(src='../img/city-card.jpg' alt='city')
            .guide-places-card__info
              .guide-places-card__title Антикафе Freedom for people
              .guide-places-card__desc Антикафе Freedom for people - это свобода для умов, свобода для творчества и креатива
              a(href='#!').guide-places-card__link https://www.facebook.com/fdfp.spb
              .guide-places-card__address Санкт-Петербург, Васильевский остров, Невский проспект, дом.88, корпус 20, офис 17
              .guide-places-card__name Никита Джигурда

          .guide-places__item(style='background-image: url(../img/city.jpg)' data-guide-places-item='6')
            .guide-places__overlay
            .guide-places__bottom
              .guide-places__title Клуб Полезного Действия
              .guide-places__city Санкт-Петербург
          .guide-places-card(data-guide-places-card='6')
            .guide-places-card__close
            .guide-places-card__img
              img(src='../img/city-card.jpg' alt='city')
            .guide-places-card__info
              .guide-places-card__title Антикафе Freedom for people
              .guide-places-card__desc Антикафе Freedom for people - это свобода для умов, свобода для творчества и креатива
              a(href='#!').guide-places-card__link https://www.facebook.com/fdfp.spb
              .guide-places-card__address Санкт-Петербург, Васильевский остров, Невский проспект, дом.88, корпус 20, офис 17
              .guide-places-card__name Никита Джигурда

        .guide-places-add-new-place
          .guide-places-add-new-place__img
            img(src='../img/guide-places-add-new-place-img.png' alt='Добавьте своё место!')
          .guide-places-add-new-place__title Добавьте своё место!
          a(href='#!').guide-places-add-new-place__btn.button Добавить место