include variables



doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')

    title dabb-exam

    link(rel='stylesheet' href='../css/main.css')

  body
    .layout

      include header

      block content

    include footer

    script(src='../js/vendor/jquery.min.js')
    script(src='../js/main.js')