
<div class="guide-places-card">
  <div class="guide-places-card__img"><img src="../img/city-card.jpg" alt="city"/></div>
  <div class="guide-places-card__info">
    <div class="guide-places-card__title">Антикафе Freedom for people</div>
    <div class="guide-places-card__desc">Антикафе Freedom for people - это свобода для умов, свобода для творчества и креатива</div><a class="guide-places-card__link" href="#!">https://www.facebook.com/fdfp.spb</a>
    <div class="guide-places-card__address">Санкт-Петербург, Васильевский остров, Невский проспект, дом.88, корпус 20, офис 17</div>
    <div class="guide-places-card__name">Никита Джигурда</div>
  </div>
</div>